/* banner section styles */

.banner-item img {
    width: 100%;
    height: auto;
}

.carousel-banner-caption {
    position: absolute;
}

.carousel-banner-caption .title {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: var(--mainOrange);
    background-color: #ffffffb0;
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100%);
    padding: 0.625rem 0.925rem;
}

.carousel-banner-caption .subtitle {
    font-size: 1.2rem;
}

.carousel-control-next-icon {
    background-image: url('../../assets/images/next.png');
}

.carousel-control-prev-icon {
    background-image: url('../../assets/images/prev.png');
}

/* End banner section styles */

/* News Ticker Styles */

.simple-marquee-container {
    border: none;
    background-image: linear-gradient(to right bottom, #f26b2cce, #f26b2cce), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
}

/* ****************************************************************************************************** */