/* banner section styles */

.banner-item img {
    width: 100%;
    height: auto;
}

.carousel-banner-caption {
    position: absolute;
}

.carousel-banner-caption .title {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: var(--mainOrange);
    background-color: #ffffffb0;
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100%);
    padding: 0.625rem 0.925rem;
}

.carousel-banner-caption .subtitle {
    font-size: 1.2rem;
}

.carousel-control-next-icon {
    background-image: url('../../assets/images/next.png');
}

.carousel-control-prev-icon {
    background-image: url('../../assets/images/prev.png');
}

/* End banner section styles */

/* News Ticker Styles */

.simple-marquee-container {
    border: none;
    background-image: linear-gradient(to right bottom, #f26b2cce, #f26b2cce), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    z-index: 2000;
}

.marquee-content-items>li>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Statistics section */

#stats {
    background-image: linear-gradient(to right bottom, #f1e9e8e5, rgba(243, 242, 241, 0.911)), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
}

.squareItem {
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.squareItem:hover {
    cursor: pointer;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 3px solid var(--mainOrange);
    border-top: none;
}

.squareInnerContainer:before, .squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 3px solid var(--mainOrange);
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px
}

.squareContent h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.squareContent h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    color: var(--mainGrey);
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
    transition: transform 1.2s;
}

.squareItem:hover .squareIcon {
    -webkit-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
    cursor: pointer;
    color: var(--mainOrange);
}

.stats-header a:hover {
    text-decoration: none;
}

.stats-header img {
    width: 60px;
    height: auto;
    transition: all 1.5s;
}

.stats-header img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* ***************************************************************************************************** */

/* feedback styles */

#feedback {
    background-image: linear-gradient(to right bottom, #f26b2cad, #f26b2cad), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
}

.feedback-header {
    width: fit-content;
    background-color: rgba(245, 245, 245, 0.733);
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    border: 2px solid rgb(136, 123, 123);
}

.feedback-header span {
    font-weight: 700;
    color: var(--mainGrey);
}

.feedback-header a:hover {
    text-decoration: none;
}

.feedback-header img {
    width: 60px;
    height: auto;
    transition: all 1.5s;
}

.feedback-header img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.feedback-body .fa-quote-left {
    padding: 0.825rem 1.5rem;
    font-size: 20px;
    color: var(--mainOrange);
}

.feedback-item {
    background: #fff;
    border-radius: 10px;
    margin: .5rem;
}

.feedback-item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.04);
    transition: .4s;
    cursor: pointer;
}

.feedback-item .customer {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--mainGrey);
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.625rem 0;
    border-bottom: 2px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 00px 0px 3px #fff;
}

.feedback-item .customer img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.mark {
    position: absolute;
    color: #60a2b8;
    font-size: 2rem;
    left: 1rem;
    padding: 0;
    line-height: 1.25em;
}

.feedback-item .quote {
    text-align: center;
    margin: 0.625rem;
    padding: 0 0.825rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--mainGrey);
    overflow: auto;
}

.feedback-item .feedback-body {
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.753)), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 3px #fff;
}

.feedback-item .date-footer {
    font-size: 14px;
    font-weight: 700 !important;
    padding: 1rem 0.825rem;
    color: #fff;
    background-image: linear-gradient(to right bottom, rgba(250, 112, 62, 0.774), rgba(245, 106, 56, 0.774)), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--mainOrange);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}