@import './animation.css';
/* ************************************************************************************************************************ */

/* ************************************************************************************************************************ */

#top-header {
    padding: 0.625rem 0.825rem;
    background-image: linear-gradient(to right bottom, #f26b2cad, #f26b2cad), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#top-header .telephone-number, #top-header .contact-email {
    display: inline-block;
}

.header-link {
    text-decoration: none;
    color: white;
}

.header-link:hover, #top-header .telephone-number:hover {
    color: rgb(255, 236, 202);
}

.header-button {
    position: relative;
    padding: 0.325rem 0.825rem;
    background-color: var(--greenColor);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}

.header-button:hover {
    text-decoration: none;
    background-color: #91cc43;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.header-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--greenColor);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s;
}

.header-button:hover::after {
    -webkit-transform: scale(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.language-link {
    text-decoration: none;
    color: white;
}

.language-link:hover {
    text-decoration: none;
    color: rgb(255, 236, 202);
}

.language-link img {
    width: 20px;
    height: 20px;
}

#main-header {
    padding: 0 0.825rem;
}

.header-logo {
    width: 70px;
    height: auto;
    transition: transform 1.5s;
}

.header-logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.top-header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--mainGrey);
    text-decoration: none;
    font-weight: 600;
    padding: 0.425rem 0.625rem;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.top-header-link:hover {
    text-decoration: none;
    background-color: var(--mainGrey);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%, 40% 100%, 0 100%);
    color: white;
}

.header-date {
    background-color: var(--mainOrange);
    color: white;
    font-weight: 600;
    padding: 0.325rem 0.625rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px grey;
}

#small-header {
    padding: 0.625rem 0.625rem;
    background-image: linear-gradient(to right bottom, #faf8f6c2, #faf8f6c2), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#sidebar-toggler {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: var(--mainOrange);
    outline: none;
}

.small-logo-container img {
    width: 60px;
    height: auto;
}

.small-header-button {
    display: block;
    height: fit-content;
    font-size: 12px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
}

.small-header-button {
    text-decoration: none;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background-color: rgb(218, 214, 214);
    padding: 1.2rem 0;
    z-index: 500;
}

.sidebar-header {
    position: relative;
    display: none;
}

.sidebar-close-btn {
    position: absolute;
    top: 5px;
    font-size: 18px;
    border: none;
    outline: none !important;
    color: var(--mainGrey);
    background-color: transparent;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .6s ease-in-out;
}

.sidebar-close-btn:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.sidebar-close-btn:lang(ar) {
    left: 10px;
}

.sidebar-close-btn:lang(en) {
    right: 10px;
}

.sidebar-header .no-login-container img {
    width: 80px;
    height: auto;
    transition: transform 1s ease-in-out;
}

.sidebar-header .no-login-container img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidebar-body {
    display: none;
    width: 100%;
    padding: 0.625rem 0;
}

.sidebar-link {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--mainGrey);
    padding: 0.625rem 2rem;
    transition: background 0.6s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--secondaryGrey) 50%);
    background-size: 300%;
}

.sidebar-link:hover {
    background-color: var(--secondaryGrey);
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    color: grey;
    background-position: 100%;
    transform: translateX(0.2rem);
}

.sidebar-link .lang-img {
    width: 20px;
    height: auto;
}