@import './animation.css';
/* ************************************************************************************************************************ */

/* ************************************************************************************************************************ */

#top-header {
    padding: 0.625rem 0.825rem;
    background-image: linear-gradient(to right bottom, #f26b2cad, #f26b2cad), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#top-header .telephone-number, #top-header .contact-email {
    display: inline-block;
}

.header-link {
    text-decoration: none;
    color: white;
}

.header-link:hover, #top-header .telephone-number:hover {
    color: rgb(255, 236, 202);
}

.header-button {
    padding: 0.325rem 0.825rem;
    background-color: var(--greenColor);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}

.header-button:hover {
    background-color: #91cc44;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.language-link {
    text-decoration: none;
    color: white;
}

.language-link:hover {
    color: rgb(255, 236, 202);
}

.language-link img {
    width: 20px;
    height: 20px;
}

#main-header {
    padding: 0 0.825rem;
}

.header-logo {
    width: 70px;
    height: auto;
}

.top-header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--mainGrey);
    text-decoration: none;
    font-weight: 600;
    padding: 0.425rem 0.625rem;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.top-header-link:hover {
    background-color: var(--mainGrey);
    color: white;
}

.header-date {
    background-color: var(--mainOrange);
    color: white;
    font-weight: 600;
    padding: 0.325rem 0.625rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px grey;
}

#small-header {
    padding: 0.625rem 0.625rem;
    background-image: linear-gradient(to right bottom, #faf8f6c2, #faf8f6c2), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#sidebar-toggler {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: var(--mainOrange);
    outline: none;
}

.small-logo-container img {
    width: 60px;
    height: auto;
}

.small-header-button {
    display: block;
    height: fit-content;
    font-size: 12px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
}

.small-header-button {
    text-decoration: none;
}