@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 280px) {
    .small-logo-container img {
        width: 40px;
        height: auto;
    }
    #sidebar-toggler {
        width: 30px;
        height: 30px;
    }
    .small-header-button {
        font-size: 10px;
    }
}

/* ********************************************************************************************************* */

/* ********************************************************************************************************* */

/* ********************************************************************************************************* */

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}